.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 5rem;
  position: fixed;
  width: 99%;
  top: 0;
  padding-right: 55px;
  padding-left: 10px;
  /* padding: 10px; */
  /* z-index: 1000; */

  color: #7a0909;
  font-family: sans-serif;
  border: 5px solid;

  background-image: url(https://cdn.pixabay.com/photo/2015/12/15/09/04/banner-1093909_640.jpg);
}
.image {
  height: 50px;
  border: 5px solid rgb(14, 1, 1);
}
.nepalFlag {
  height: 50px;
  border: 5px dotted rgb(14, 1, 1);
}

.navComponent {
  color: #e1e80d;
  display: flex;
  justify-content: end;
  gap: 2rem;
  padding-left: 500px;
  font-size: 2rem;
  width: 300px;
}
